{% extends 'adminbase.html' %}
{% load emoji %}
{% load static %}

{% block title %}HappyOrNot{% endblock %}

{% block content %}
<div class="text-align:center">
  <div class="titleHead" style="text-align: center;">
      <h2>Bad Feedback Details</h2>
  </div>

    <div class="container">
      {% if feedbacks %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for feedback in feedbacks %}
          <tr>
            <td>{{ feedback.rater }}</td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.feedback_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No feedbacks found.</p>
      {% endif %}
    </div>
{% endblock %}
