{% extends 'adminbase.html' %}
{% load emoji %}
{% load static %}

{% block title %}HappyOrNot{% endblock %}

{% block content %}
<div class="text-align:center">
  <div class="titleHead" style="text-align: center;">
      <h2>Feedback Report</h2>
  </div>

</div>

<div class="card">
    <div class="card-header">Rate Our Service Report</div>
    <div class="card-body">
        <canvas id="myChart"></canvas>
    </div>
</div>


<script>
    $(document).ready(function() {
        $.ajax({
          url: "{% url 'feedback_count' %}",
          dataType: "json",
          success: function(data) {
            var labels = [];
            var counts = [];
    
            for (var i = 0; i < data.length; i++) {
              labels.push(data[i].rating);
              counts.push(data[i].total);
            }
    
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: labels,
                datasets: [{
                label: 'Feedback Counts',
                data: counts,
                backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
                }]
          
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                      precision: 0
                    }
                  }]
                }
              }
            });
          }
        });
      });
    
</script>

{% endblock %}