{% extends 'base.html' %}
{% load emoji %}
{% load static %}

{% block title %}HappyOrNot{% endblock %}

{% block content %}
<div class="text-align:center">
    <div class="titleHead" style="text-align: center; padding: 30px 0 0 0 ">
        <h1>How was your experience?</h1>
    </div>

    <img id="notification" src="" style="margin:0 auto; display:block">
    <div style="text-align:center" id="textNotification" class=""></div>
</div>
   

    <div class="container" style="padding: 50px;">
    <form id="myForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="user">Name:</label>
            <input type="text" id="user" name="user" class="form-control">
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
                <div class="rating-container emoji-ratings">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating1" value="Bad" >
                        <label class="form-check-label" for="rating1">😞</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating2" value="Poor" >
                        <label class="form-check-label" for="rating2">🙁</label>
                    </div>

                    <div class="form-check">
                        <input  class="form-check-input" type="radio" name="rating" id="rating3" value="Average" >
                        <label class="form-check-label" for="rating3">😐</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating4" value="Good" >
                        <label class="form-check-label" for="rating4">🙂</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating5" value="Excellent" >
                        <label class="form-check-label" for="rating5">😀</label>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary" hidden>Submit</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
    <style>

          
        .form-check:hover {
            transform: scale(1.2)
        }

        .form-check label {
            transition: transform 0.5s ease-in-out;
            max-width: 100%;
            height: auto;        
        }

        img#status {
            margin-right: 10px;
          }

        h2 {
            margin-left: 10px;
          }
          
        .rating-container {
            display: flex;
            flex-direction: row;
        }
        
        .form-check {
            margin-right: 10px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], textarea, select {
            display: block;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        textarea {
            height: 100px;
        }
        button[type="submit"] {
            display: block;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px;
            cursor: pointer;
        }
        .feedback {
            margin-bottom: 20px;
        }
        .rating {
            display: inline-block;
            font-size: 32px;
            margin-right: 10px;
        }
        .user {
            display: inline-block;
            font-weight: bold;
            margin-right: 10px;
        }
        .comment {
            margin-left: 50px;
        }
    </style>
{% endblock %}








